*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ver{
    height: 100vh;
}

.rrr{
    background:linear-gradient(to bottom, rgba(247, 247, 247, 0.864) 0%, rgba(255, 255, 255, 0.43) 100%),url(Assets/Images/pic13.jpg);
    background-size: cover;
    background-position: center;
}

.ver-h1{
    padding-top: 24vh;
}

.text-c{
    color: rgb(126, 86, 218);
}

.ver-p{
    font-size: 13px;
}

@media screen and (max-width:980px) {
    .ver-h1{
        padding-top:20vh;
    }
    
}