*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{
  min-height: 100vh;
}

.nav{
  color: white;
  transition: 1s ease;
}

.nav2{
  background-color: rgb(76, 49, 111);
}

.nav3{
  background-color: rgb(2, 23, 50);
}

.nav-active{
  background-color: white;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.34);
  color: black;
  transition: 1s ease;
}

.nav-admin{
  background-color: rgb(1, 152, 122);
  color: white;
}

.link-admin{
  color: white;
}

.link-admin{
  text-decoration: none;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.brand-admin{
  font-weight: 700;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.brand-admin:hover{
  font-weight: 700;
  text-decoration: none;
  color: rgb(0, 58, 46);
}
  
.link-admin:hover{
  color: rgb(0, 58, 46);
  opacity: 1;
  transition: 0.2s ease;
}

.naval{
  background-color: rgb(1, 152, 122);
}

.mar{
  margin-left: 40%;
}

.mar2{
  margin-left: 80%;
}

.footer{
  background-color: rgb(248, 249, 250);
}

@media screen and (max-width: 980px){
  .mar{
    margin-left: 0%;
  }

  .mar2{
    margin-left: 0%;
  }
  
}