* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Stats {
  min-height: 100vh;
  background-color: ivory;
  padding-top: 25vh;
}

.Stats-h2 {
  color: rgb(26, 20, 100);
}

.tb-row:nth-child(even) {
  background-color: rgb(255, 255, 230);
}

.tb-row {
  border-bottom: 2px solid #2e180e;
}

.trun{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
