*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Sales{
    min-height: 100vh;
    background-color:ivory;
    padding-top: 130px;
}

.heavy{
    font-weight: 700;
    color: black;
}

.nava{
    background-color:rgb(122, 102, 96);
}

.mat-name{
    color: rgb(122, 102, 96);
    font-weight: 500;
}

.check{
    border-right: 3px solid #2e180e;
}

.Dis{
    display: none;
}

.changeDis{
    display: block;
}

.tb-row:nth-child(even){
    background-color: rgb(255, 255, 230);
}

.Receipt{
    background-color: white;
    padding: 2rem;
    border: 2px solid black;
    width: 60%;
}

.rec-row{
    border-block: 2px solid black;
}

.just{
    display: flex;
    justify-content: center;
}

.Receipt h2{
    border-bottom: 2px solid black;
    text-align: center;
}

.Order{
    min-height: 100vh;
    padding-top: 50px;
}

.Order-main{
    background-color: skyblue;
    height: fit-content;
    box-shadow: 0px 9px 8px 0px #a6a6a6;
}
.Order-table{
    box-shadow: 0px 0px 8px 4px #a6a6a6;
}

.order-card{
    box-shadow: 0px 0px 5px 4px #c4c4c4;
    border: 7px solid rgb(255, 255, 255);

}
.result{
    background-color: rgb(2, 23, 50);
}

.rad{
    background-color: rgba(2, 23, 50, 0.536);

}

@media screen and (max-width:980px) {
    .check{
        border-inline:none
    }

    .Receipt{
    
        width: 100%;
    }
}
.SalesMain{
    margin-top:7rem;
}

.SalesListGroup{
    border-color: white;
    color: white;
}
.listitem{
    
    color: black;
}