*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Sales{
    min-height: 100vh;
    background-color:#e8c7ae;
    padding-top: 15vh;
}

.heavy{
    font-weight: 700;
    color: black;
}